@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 11% 95%;
    --foreground: 240 6% 10%;

    --card: 0 0% 100%;
    --card-foreground: 240 6% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 6% 10%;

    --primary: 262 52% 47%;
    --primary-foreground: 0 0% 98%;

    --secondary: 244 100% 96%;
    --secondary-foreground: 262 52% 47%;

    --muted: 240 5% 90%;
    --muted-foreground: 240 4% 46%;

    --accent: 244 100% 97%;
    --accent-foreground: 262 52% 47%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 6% 88%;
    --input: 240 6% 88%;
    --ring: 262 52% 47%;

    --radius: 0.5rem;

    --chart-1: 262 52% 47%;
    --chart-2: 244 100% 80%;
    --chart-3: 262 40% 67%;
    --chart-4: 244 70% 85%;
    --chart-5: 262 52% 57%;
  }

  .dark {
    --background: 240 5% 11%;
    --foreground: 0 0% 98%;

    --card: 240 4% 14%;
    --card-foreground: 0 0% 98%;

    --popover: 240 5% 11%;
    --popover-foreground: 0 0% 98%;

    --primary: 244 100% 80%;
    --primary-foreground: 244 30% 25%;

    --secondary: 240 4% 20%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 4% 20%;
    --muted-foreground: 240 5% 64%;

    --accent: 240 4% 20%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 4% 20%;
    --input: 240 4% 20%;
    --ring: 244 100% 80%;

    --chart-1: 244 100% 80%;
    --chart-2: 262 52% 47%;
    --chart-3: 244 70% 85%;
    --chart-4: 262 40% 67%;
    --chart-5: 262 52% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
