@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 11% 95%;
    --foreground: 240 6% 10%;

    --card: 0 0% 100%;
    --card-foreground: 240 6% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 6% 10%;

    --primary: 349 87% 55%;
    --primary-foreground: 0 0% 98%;

    --secondary: 349 87% 96%;
    --secondary-foreground: 349 87% 55%;

    --muted: 240 5% 90%;
    --muted-foreground: 240 4% 46%;

    --accent: 349 87% 97%;
    --accent-foreground: 349 87% 55%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 6% 88%;
    --input: 240 6% 88%;
    --ring: 349 87% 55%;

    --radius: 0.5rem;

    --chart-1: 349 87% 55%;
    --chart-2: 349 80% 80%;
    --chart-3: 349 70% 67%;
    --chart-4: 349 60% 85%;
    --chart-5: 349 90% 57%;
  }

  .dark {
    --background: 240 5% 11%;
    --foreground: 0 0% 98%;

    --card: 240 4% 14%;
    --card-foreground: 0 0% 98%;

    --popover: 240 5% 11%;
    --popover-foreground: 0 0% 98%;

    --primary: 349 87% 65%;
    --primary-foreground: 349 30% 15%;

    --secondary: 240 4% 20%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 4% 20%;
    --muted-foreground: 240 5% 64%;

    --accent: 240 4% 20%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 4% 20%;
    --input: 240 4% 20%;
    --ring: 349 87% 65%;
    
    --chart-1: 349 87% 65%;
    --chart-2: 349 87% 55%;
    --chart-3: 349 60% 85%;
    --chart-4: 349 70% 67%;
    --chart-5: 349 90% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
